@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rebeccapurple;
}

.hide {
  display: none;
}

.create-pin:hover {
  background-color: dodgerblue !important;
  color: white !important;
}
